data/tracking_week_1.csv filter=lfs diff=lfs merge=lfs -text
data/tracking_week_2.csv filter=lfs diff=lfs merge=lfs -text
data/tracking_week_3.csv filter=lfs diff=lfs merge=lfs -text
data/tracking_week_4.csv filter=lfs diff=lfs merge=lfs -text
data/tracking_week_5.csv filter=lfs diff=lfs merge=lfs -text
data/tracking_week_6.csv filter=lfs diff=lfs merge=lfs -text
data/tracking_week_7.csv filter=lfs diff=lfs merge=lfs -text
data/tracking_week_8.csv filter=lfs diff=lfs merge=lfs -text
data/tracking_week_9.csv filter=lfs diff=lfs merge=lfs -text
data/tracking_data_2020.csv filter=lfs diff=lfs merge=lfs -text
multi-modal/mm_v9_state_dict.pth filter=lfs diff=lfs merge=lfs -text
vit-modal/vit_v7_state_dict.pth filter=lfs diff=lfs merge=lfs -text
vivit-modal/vivit_v0_torch_state_dict.pth filter=lfs diff=lfs merge=lfs -text
tabnet-modal/tabnet_v0_state_dict.pth filter=lfs diff=lfs merge=lfs -text